############################
# Go
############################

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor folder
vendor
vendor/

__debug_bin

############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Local Env Files
############################

.env.local
.env.*.local

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.dylib
*.exe
*.exe~
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

############################
# Misc. / Editor directories and files
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
ios
android
dist
ios/
android/
dist/
/ios
/android
/dist
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.sw?
*.local
.gradle
.gradle/
.vagrant
.vagrant/

############################
# Node.js / Yarn / Python
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

package-lock.json
yarn.lock

venv
venv/
/venv
__pycache__/
*.egg-info
*.egg-info/

############################
# Tests & Build Artifacts
############################

testApp
coverage
tests/**/coverage/
tests/e2e/reports
selenium-debug.log
/tests/e2e/videos/
/tests/e2e/screenshots/
/tests/unit/coverage/
jsconfig.json
*.test

############################
# Strapi
############################

exports
.cache
build

############################
# Secrets
############################
secrets
secrets/

